
*{
     font-family: "Montserrat", sans-serif;
}

.oscurecer-imagen {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00000069
}

.seccion-titulo{
    text-underline-offset: 0.5rem;
}


/* header */


.index-header{
background-image: url(../Img/Fondoheader.png);
background-size: cover;
background-position: center;
height:  95vh;

position: relative;

}
.header-btn{
    background-color: #0070f0;
    color: #ffff;
    border: none;
    border-radius: 0.5rem;
    padding:  0.5rem 1 rem;
}

/* Main */

.caruselImg{
    height: 20rem;
}