
*{
     font-family: "Montserrat", sans-serif;
}

.oscurecer-imagen {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00000069
}

.seccion-titulo{
    text-underline-offset: 0.5rem;
}


/* header */


.index-header{
background-image: url(../Img/Fondoheader.png);
background-size: cover;
background-position: center;
height:  95vh;

position: relative;

}
.header-btn{
    background-color: #0070f0;
    color: #ffff;
    border: none;
    border-radius: 0.5rem;
    padding:  0.5rem 1 rem;
}

/* Main */

@media only screen and (min-widht: 600px){
.main-grid-container{
    display: grid;
    grid-area: 1/1/2/2;
    grid-template-columns: repeat(3,1fr);
}
.seguimiento{ grid-area: 1 / 1 / 2 / 2; }

.optimizacion{ grid-area: 1 / 2 / 2 / 3; }

.gestion{ grid-area: 1 / 3 / 2 / 4; }

.logistica{ grid-area: 2 / 1 / 3 / 2; }

.atencion{ grid-area: 2 / 2 / 3 / 3; }

.informes{ grid-area: 2 / 3 / 3 / 4; }


}